apiVersion: apps/v1
kind: Deployment
metadata: 
  name: v2-redes-api
  labels:
    app: v2-redes-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: v2-redes-api
  template:
    metadata:
      labels:
        app: v2-redes-api
    spec:
      containers:
      - name: v2-redes-api
        image: v2-redes-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
